<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <style>
        table, th, td {
          border: 1px solid grey;
          border-collapse: collapse;
        }
        th, td {
          padding: 10px;
        }
        th {
          text-align: left;
        }
    </style>
</head>
<body>
    <h1 style="text-indent: 600px">Disks application</h1><br>

    <form action="{% url 'search_result' %}" method="get">
        {% csrf_token %}
        <label for="id_query">Album:</label>
        <input id="id_query" maxlength="100" name="query" type="text" value="Album">
        <input type="submit" value="Search">
    </form><br>

    <table>
        <tr style="background-color: rgb(200,200,200)">
            <th>Title</th>
            <th>Artist</th>
        </tr>
        {% for alb in albums %}
            <div class="album">
                <tr>
                    <td><a href="{% url 'album_info' alb.id %}">{{ alb.title }}</a></td>
                    <td>{{ alb.artist }}</td>
                </tr>
            </div>
        {% empty %}
            <p>No albums.</p>
        {% endfor %}
</body>
</html>